// GENERAL COLORS
$green: #16a085;
$lightgreen: #1abc9c;
$white: #ffffff;
$darkgrey: #373737;
$lightgrey:#f5f6f7;

// TEXT COLORS
$text-color-darkgrey: $darkgrey;
$text-color-white: $white;
$text-color-green: $green;

// BACKGROUND COLORS
$bg-color-lightgrey: $lightgrey;
$bg-color-white: $white;

// BUTTONS
$btn-color: $green;
$btn-color-light: $lightgreen;