.section {
    background-color: $bg-color-white;
    position: relative;
    &--grey {
        background-color: $bg-color-lightgrey;
    }
    color: $darkgrey;
    padding: 120px 0 90px 0;
    &__header {
        color: $text-color-green;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        margin: 0;
    }
    &__text {
        color: $text-color-darkgrey;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1.8px;
        margin: 50px 0;
        &--bold {
            font-weight: 700;
        } 
    }
    & img {
        max-width: 100%;
        position: absolute;
        bottom: -90px;
    }
}