@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import "../node_modules/bootstrap/scss/bootstrap-grid";

@import 'reset';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'button';
@import 'section';
@import 'main-nav';
@import 'header';
@import 'social';
@import 'hero';
@import 'arrows';
@import 'subscribe';
@import 'download';
@import 'footer';

* {
    font-family: $primary-font;
}
body {
    background-color: darken($lightgrey, 10%);
}
.page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}
.container,
.row {
    height: 100%;
}